# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp
.DS_Store


# Ignore VS Code settings
.vscode/


